

@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular/IntroRegular.eot");
    src: url("../fonts/IntroRegular/IntroRegular-.eot#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "IntroInline"; */
@font-face {
    font-family: "IntroInline";
    src: url("../fonts/IntroInline/IntroInline.eot");
    src: url("../fonts/IntroInline/IntroInline-.eot#iefix")format("embedded-opentype"),
    url("../fonts/IntroInline/IntroInline.woff") format("woff"),
    url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/Lato/lato-black-webfont.eot');
    src: url('../fonts/Lato/lato-black-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/Lato/lato-blackitalic-webfont.eot');
    src: url('../fonts/Lato/lato-blackitalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-blackitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato/lato-bold-webfont.eot');
    src: url('../fonts/Lato/lato-bold-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-bold-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/Lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/Lato/lato-bolditalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('../fonts/Lato/lato-hairline-webfont.eot');
    src: url('../fonts/Lato/lato-hairline-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/Lato/lato-hairlineitalic-webfont.eot');
    src: url('../fonts/Lato/lato-hairlineitalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoheavy';
    src: url('../fonts/Lato/lato-heavy-webfont.eot');
    src: url('../fonts/Lato/lato-heavy-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-heavy-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-heavy-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-heavy-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-heavy-webfont.svg#latoheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoheavy_italic';
    src: url('../fonts/Lato/lato-heavyitalic-webfont.eot');
    src: url('../fonts/Lato/lato-heavyitalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-heavyitalic-webfont.svg#latoheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/Lato/lato-italic-webfont.eot');
    src: url('../fonts/Lato/lato-italic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-italic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato/lato-light-webfont.eot');
    src: url('../fonts/Lato/lato-light-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-light-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/Lato/lato-lightitalic-webfont.eot');
    src: url('../fonts/Lato/lato-lightitalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latomedium';
    src: url('../fonts/Lato/lato-medium-webfont.eot');
    src: url('../fonts/Lato/lato-medium-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-medium-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-medium-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular-.eot#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight-.eot#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium-.eot#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold-.eot#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

 
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular-.eot#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight-.eot#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold-.eot#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic-.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'LineaBasic';
	src: url('../fonts/linea-basic/linea-basic-10.eot');
	src: url('../fonts/linea-basic/linea-basic-10-.eot#iefix') format('embedded-opentype'), 
	     url('../fonts/linea-basic/linea-basic-10.woff') format('woff'), 
	     url('../fonts/linea-basic/linea-basic-10.ttf')  format('truetype'),
	     url('../fonts/linea-basic/linea-basic-10.svg#svgFontName') format('svg'); 
}
