/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
	.toggle-top {
		position: relative;
		left: 0px;
	}
}

@media only screen and (max-width: 1160px) {

	/*START Left menu style normal*/
	.content-wrap-lfm {
		margin-left: 0;
	}

	.content-wrap-lfm .sidenav .container {
		width: 970px;
	}

	.header-type-1 {
		position: relative;
		left: auto;
		background-color: #123043;
		background-image: none !important;
		top: auto;
		z-index: 6;
		height: 65px;
		width: 100%;
	}

	.header-type-1:after {
		display: none;
	}

	.header-type-1 ul.social-links {
		display: none;
	}

	.header-type-1 .logo {
		float: left;
		display: inline-block;
		width: auto;
		padding-top: 12px;
		padding-bottom: 0;
		margin-top: 0;
		margin-left: 20px;
	}

	.header-type-1 .logo .logo-dark {
		display: none;
	}

	.header-type-1 .logo .logo-white {
		display: block;
	}

	.header-type-1 .dark-logo .logo-dark {
		display: block;
	}

	.header-type-1 .dark-logo .logo-white {
		display: none;
	}

	.header-type-1 .top-menu {
		display: none;
	}

	.header-type-1 .toggle-mnu {
		display: block;
		top: 23px;
		right: 41px;
	}

	/*END Left menu style normal*/
}

@media only screen and (max-width: 1200px) {
	.fullscreen-topnav .items .link:nth-of-type(2) {
		background-color: rgba(85, 85, 85, 0.9);
	}

	.section-how-we-work .icon-container:after {
		width: 33px;
		right: -17px;
	}

	.avatar-80 {
		width: 50px;
		height: 50px;
	}

	.btn-down {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

	/**/
	.btn-down {
		display: none;
	}

	header .sf-menu {
		display: none;
	}

	header .logo {
		padding: 12px 0 9px 0;
	}

	header .logo img {
		height: 43px;
	}

	header .toggle-mnu {
		display: block;
		top: 23px;
		right: 41px;
	}

	header .toggle-top {

		top: 23px;
		padding-left: 14px;
		margin-left: 0;
		border-left: 1px solid #ccc;
	}

	.background-image {
		background-position: 50% 50%;
	}

	/**/
	.heading-title-big {
		font-size: 52px;
	}

	.slide-title {
		font-size: 22px;
	}

	.description-slide {
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}

	.btn {
		padding: 12px 25px 12px 25px;
		font-size: 13px;
		line-height: 13px;
	}

	/*Sections style
  .about-us {
    padding-bottom: 55px; }*/
	.about-us .item-about {
		margin-bottom: 30px;
	}

	/*Tabs services*/
	.services-section ul.list {
		margin-top: 30px;
	}

	/*Tabs services*/
	.services-tabs {
		padding: 0;
	}

	.services-tabs .slick-list {
		overflow: hidden;
	}

	.services-tabs .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
		background-color: rgba(18, 48, 67, 0.3);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.services-tabs .ui-tabs-panel {
		margin-top: 30px;
	}

	/*How we work*/
	.section-how-we-work {
		padding-bottom: 35px;
	}

	.section-how-we-work .icon-container:after {
		display: none;
	}

	.section-how-we-work .item-icon {
		margin-bottom: 50px;
	}

	/*section-work-progress*/
	.section-work-progress {
		padding-bottom: 45px;
	}

	.section-work-progress .heading-title {
		margin-bottom: 30px;
	}

	.section-work-progress .icon-progress {
		margin-bottom: 40px;
	}

	/*Section We are in numbers*/
	.section-we-are-numbers div > div:nth-child(2n) .item-number .num {
		background-color: #625958;
	}

	.section-we-are-numbers div > div:nth-child(2n) .item-number .name {
		background-color: rgba(80, 70, 69, 0.5);
	}

	/*Team section*/
	.section-team {
		padding-bottom: 35px;
	}

	.section-team .item-team {
		padding-bottom: 50px;
	}

	/*section-testimonials*/
	.section-testimonials .prev-next-block-rotate {
		display: none;
	}

	/*section-choose-us*/
	.section-choose-us {
		padding-bottom: 20px;
	}

	.section-choose-us .item-about {
		margin-bottom: 65px;
	}

	.section-choose-us .item-about .icon {
		line-height: 73px;
	}

	.section-choose-us .item-about .icon .bg-icon {
		top: 0;
	}

	.section-choose-us .item-about .icon .bg-icon i {
		font-size: 130px;
	}

	/*contact form*/
	.contact-wrap {
		text-align: center;
		margin-bottom: 50px;
	}

	/*footer*/
	footer {
		text-align: center;
	}

	footer > div {
		padding-bottom: 30px;
	}

	footer .social-links {
		margin-bottom: 50px;
	}

	footer .links {
		padding-bottom: 30px;
	}

	footer ul.footer-menu {
		display: none;
	}

	footer .down-footer p {
		float: inherit;
		display: block;
		text-align: center;
	}

	.contact-2 {
		padding-bottom: 30px;
	}

	section .accordion {
		margin-top: 30px;
	}

	.services-list {
		margin-bottom: 30px;
	}

	.service-single ul.list {
		margin-top: 20px;
	}

	.service-about,
	.item-about {
		padding-bottom: 40px;
	}

	.service-about:last-child,
	.item-about:last-child {
		padding-bottom: 0;
	}

	.service-about .icon i,
	.item-about .icon i {
		width: 70px;
	}

	.service-about .icon .bg-icon,
	.item-about .icon .bg-icon {
		top: -20px;
		left: 70px;
	}

	.service-about .icon .bg-icon i,
	.item-about .icon .bg-icon i {
		font-size: 100px;
	}

	.item-price .head .name-wrap:after {
		background-size: 100% 100%;
		height: 30px;
	}

	.most-price:before {
		position: relative;
		top: 0;
	}

	.item-price-two:last-child {
		margin-bottom: 40px;
	}

	.blog-classic .post-content-classic {
		margin-top: 20px;
	}

	.blog-classic .post.sticky:after {
		right: 15px;
	}

	.blog-classic .post.sticky:before {
		right: 8px;
		margin-right: 15px;
	}

	/*Blog*/
	.comment-list .children .children li {
		padding-left: 50px;
	}

	.related-projects .item-portfolio {
		margin-bottom: 30px;
	}

	.related-projects .item-portfolio:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	#sidebar:before {
		display: none;
	}

	.content-project {
		margin-top: 30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	header .toggle-mnu {
		right: 55px;
	}

	.btn-down {
		display: none;
	}

	header .toggle-top {
		left: 0px;
	}

	.description-slide {
		font-size: 16px;
	}

	.full-slider .slide .small-text .heading-title-big,
	.wrap-header .slide .small-text .heading-title-big {
		font-size: 40px;
	}

	.fullscreen-topnav .items .text-item {
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.prev-next-block-rotate {
		display: none;
	}

	/*Section We are in numbers*/
	.section-we-are-numbers {
		padding-bottom: 0;
	}

	/*section-testimonials*/
	.section-testimonials .dots-control-carousel {
		margin-top: 30px;
	}

	.display-page h1 {
		font-size: 30px;
	}

	.display-page p {
		font-size: 16px;
	}

	.right-full .center-all {
		width: 100%;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	#sidebar {
		padding-bottom: 30px;
	}

	.profile-img .dark-hex img {
		margin-bottom: 30px;
	}


}

@media only screen and (max-width: 768px) {
	.heading-title-big {
		font-size: 35px;
	}

	.btn-down {
		bottom: 10px;
	}

	.slider .buttons-section {
		margin-top: 20px;
	}

	.btn-down {
		display: none;
	}

	.slide-title {
		font-size: 18px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.heading-title-big {
		font-size: 30px;
	}

	.btn-down {
		display: none;
	}

	.slider .buttons-section {
		margin-top: 20px;
	}

	.btn-down {
		bottom: 10px;
	}

	.heading-title h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.full-slider .slide .small-text .heading-title-big,
	.wrap-header .slide .small-text .heading-title-big {
		font-size: 30px;
	}

	.small-head h2 {
		font-size: 16px;
	}

	.small-heading h2 {
		font-size: 25px;
	}

	.heading-title p {
		font-size: 13px;
	}

	.slide-title {
		font-size: 15px;
	}

	.description-slide {
		font-size: 18px;
	}

	.controls-portfolio ul li {
		margin-bottom: 10px;
	}

	/*Team*/
	.item-team h2 {
		font-size: 15px;
	}

	.item-team span {
		font-size: 13px;
	}

	.item-team p {
		font-size: 13px;
	}

	.item-team ul.social-links li {
		margin-left: 2px;
		font-size: 13px;
		line-height: 13px;
	}

	.item-team ul.social-links li a {
		width: 29px;
		height: 29px;
		line-height: 29px;
		-webkit-transform: rotate(0deg) translate(0px, 0px);
		-ms-transform: rotate(0deg) translate(0px, 0px);
		transform: rotate(0deg) translate(0px, 0px);
	}

	.item-team ul.social-links li a i {
		-webkit-transform: rotate(0deg) translate(0px, 0px);
		-ms-transform: rotate(0deg) translate(0px, 0px);
		transform: rotate(0deg) translate(0px, 0px);
	}

	.post .post-data p {
		font-size: 13px;
	}

	.post .content h3 {
		font-size: 18px;
	}

	.related-projects .item-portfolio {
		margin-bottom: 30px;
	}

	.related-projects .item-portfolio:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	.related-projects .item-portfolio .content-wrap .content-va p {
		display: none;
	}

	.related-projects .item-portfolio .content-wrap .content-va h2 {
		margin-top: 0;
	}

	.related-projects .item-portfolio .content-wrap .content-va h2:after {
		display: none;
	}

	.related-projects .tizer-circle {
		display: none;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width: 350px) {
	.btn {
		font-size: 12px;
	}

	.heading-title-big {
		font-size: 30px;
	}

	.description-slide {
		font-size: 17px;
	}

	.slide-title {
		font-size: 12px;
		padding-bottom: 30px;
	}

	.logo-white {
		width: 180px;
	}

	.btn-down {
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

	/**/
	.buttons-section .btn {
		margin-right: 0 !important;
		margin-bottom: 15px;
	}

	.buttons-section .btn:last-child {
		margin-bottom: 0;
	}

	.btn-down {
		display: none;
	}
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	/**/
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.benefits__inner .col-sm-6 {
		width: 50%;
		float: left;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-height: 860px) {

	/**/
	.active-fullscreen-topnav .height-half-60 .items .height-full {
		height: 530px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (min-width: 768px) {
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
	}

	.modal-sm {
		width: 300px;
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}

@media (max-width: 650px) {
	.modal-content {
		width: 100%;
		line-height: normal;
	}

	.application {
		margin: 0px;
		width: 100%;
		padding: 0 20px;
	}

	.applicationName,
	.applicationTelephone,
	.applicationMail {
		height: 40px;
		margin-top: 10px;
	}

	.applicationButton {
		margin: 0 0 10px !important;
	}

	.application br {
		display: none;
	}

	.modal-dialog {
		width: 100% !important;
	}

	.description-slide .buttons-section {
		padding-top: 0;
	}
}

.p {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}

.p:hover {
	cursor: pointer;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
